

h1{
    font-size: 50px;
    text-align: center;
    color: black;
    
}
body{
    background-image: url(https://img.freepik.com/free-photo/nature-colorful-landscape-dusk-cloud_1203-5705.jpg);
    background-size: cover;
}
h2{
 color: black;
}